<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDbFOOiyvNTduaa0ztoDGEJHAdqI33ySvQ</string>
	<key>GCM_SENDER_ID</key>
	<string>205905872905</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dakarapps.salyprimeVendor</string>
	<key>PROJECT_ID</key>
	<string>salyprime-vendor</string>
	<key>STORAGE_BUCKET</key>
	<string>salyprime-vendor.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:205905872905:ios:4e3acc243c840a29ead0d8</string>
</dict>
</plist>